#!/usr/bin/make -f
# export DH_VERBOSE=1

DEB_PYTHON_SYSTEM := pysupport
DEB_DH_STRIP_ARGS := --dbg-package=python-libssh2

include /usr/share/cdbs/1/rules/buildcore.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/class/python-distutils.mk


clean::
	rm -rf build
